<% if @news.errors.any? %>
  <div class="card red lighten-4">
    <div class="card-content">
      <%= link_to(new_admin_news_url + "/#", html_options = { class: 'right', data: { dismiss: 'card' } }) do %>
        &#215;
      <% end %>
      <h5>Es sind folgende Fehler aufgetreten:</h5>
      <ul>
        <% @news.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for [:admin, @news] do |f| %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :content %>
  <%= f.text_area :content %>
</p>

<%= f.hidden_field :user_id %>

<p>
  <%= f.submit class: "btn waves-effect waves-light purple lighten-1" %>
</p>

<% end %>