<%= render 'shared/errors', obj: @news, path: 'new_admin_news_url' %>

<%= form_for [:admin, @news] do |f| %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :content %>
  <%= f.text_area :content %>
</p>

<%= f.hidden_field :user_id %>

<p>
  <%= f.submit class: "btn waves-effect waves-light purple lighten-1" %>
</p>

<% end %>