<%= render 'shared/errors', obj: @article %>

<%= form_for [:admin, @article] do |f| %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :content %>
  <%= f.text_area :content %>
</p>

<p>
  <div class="input-field col s6">
    <%= f.select :google_news_keyword_articles,
    GoogleNewsKeyword.all.order('news_keyword ASC').map { |k| [k.news_keyword, k.id] },
                 { include_blank: true },
                 { class: 'chosen-select', multiple: true }
    %>
  </div>
</p>

<p>
  <%= f.submit(@article.new_record? ? "Nachricht hinzufügen" : "Nachricht aktualisieren",
                  class: "btn waves-effect waves-light purple lighten-1") %>
</p>

<% end %>
