<% if @game.errors.any? %>
  <div class="card red lighten-4">
    <%= link_to(new_admin_game_url + "/#", html_options = { class: 'right', data: { dismiss: 'card' } }) do %>
      &#215;
    <% end %>
    <div class="card-content">
      <h5>Es sind folgende Fehler aufgetreten:</h5>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for [:admin, @game] do |f| %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :release_germany %>
  <%= f.date_field :release_germany %>
</p>

<p>
  <%= f.label :usk %>
  <%= f.number_field :usk, in: 0..99 %>
</p>

<p>
  <%= f.submit class: "btn waves-effect waves-light purple lighten-1" %>
</p>

<% end %>