<%= render 'shared/errors', obj: @game, path: 'new_admin_games_url' %>

<%= form_for [:admin, @game] do |f| %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :release_germany %>
  <%= f.date_field :release_germany %>
</p>

<p>
  <%= f.label :usk %>
  <%= f.number_field :usk, in: 0..99 %>
</p>

<p>
  <%= f.submit class: "btn waves-effect waves-light purple lighten-1" %>
</p>

<% end %>