<h1><%= @game.name %> 端berarbeiten</h1>

<% if @game.errors.any? %>
  <h2>Es sind folgende Fehler aufgetreten:</h2>
  <ul>
    <% @game.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

<% end %>

<%= form_for [:admin, @game] do |f| %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :release_germany %>
  <%= f.date_field :release_germany %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>

<%= link_to "Zur端ck zur Spiele端bersicht", games_path %> | <%= link_to "Zur端ck zum Admin-Panel", admin_root_path %>