<%= render 'shared/page_title', title: @news.title %>

<p>
  Veröffentlicht am <%= @news.created_at.strftime('%d.%m.%Y') %> von <%= @news.user.name %> <%= gravatar_for(@news.user, size: 45) %>
</p>
<p>
  <%= @news.content %>
</p>