<%= render 'shared/page_title', title: "Alle Spiele" %>

<p>
  <%= link_to "Neues Spiel hinzufügen", new_admin_game_path %>
</p>

<ul>
  <% @games.each do |game| %>
    <li>
      <%= link_to game.name, game_path(game) %> | 
      <%= link_to "Bearbeiten", edit_admin_game_path(game) %> | 
      <%= link_to "Spiel löschen", admin_game_path(game), method: :delete, data: {confirm: "Bist Du sicher, dass du #{game.name} löschen willst?"} %>
    </li>
  <% end %>
</ul>