<!DOCTYPE html>
<html>
  <head>
    <title>Ichspielecc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= 'admin' if admin? %>">
    <% if admin? %>
      <%= render 'layouts/navigation_admin' %>
      <main>
        <div class="container">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </main>
    <% else %>
      <%= render 'layouts/navigation' %>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
